upload_rate = 0

check_hash = yes

directory = ~/Downloads

session = ~/Downloads/.rt_session

schedule = watch_directory,5,5,load_start=/home/frankgoji/Downloads/.rt_watch/*.torrent
schedule = untied_directory,5,5,stop_untied=
schedule = tied_directory,5,5,start_tied=
